body {
    font: lighter 1em "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    width: 60%;
    margin: 10px auto;
}

h1 a {
    color: #000;
    text-decoration: none;
}

.header {
    height: 150px;
    width: 100%;
}

.last-modified {
    margin: 0 0 20px 0;
    font-size: 0.8em;
}

.lbl-datepicker {

}

#cities ul {
    padding: 0;
}

#cities li{
    display: inline-block;
    list-style: none;
}

#cities li a {
    margin: 0.1em 0;
    padding: 0.1em 0.25em 0.2em;
    color: #000;
    display: inline-block;
}

#cities li a.selected {
    color: #FFF;
    font-weight: bold;
    background-color: #0089ec;
}

#concerts {
    padding-top: 1em;
}

#data {
    display: none;
}

@media(max-width: 480px) {
    body {
        margin: 15px auto;
        width: 90%;
    }
    h1, h2 {
        font-size: 1.2em;
    }
    .header {
        background: none;
        height: auto;
    }
    #cities {
        width: 100%;
    }
    #cities li a {
        font-size: 1.3em;
    }
}
