body {
    font: 400 1em "Helvetica Neue", "Arial" sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    width: 60%;
    margin: 10px auto;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h2 {
    margin-top: 50px;
}

.header {
    height: 100px;
    width: 100%;
}

.last-modified {
    margin: 0 0 20px 0;
}

.city-select {
    display: none;
}

#cities ul {
    padding: 0;
}

#cities li{
    display: inline-block;
    list-style: none;
}

#cities li a {
    margin: 0.1em 0;
    padding: 0.1em 0.25em 0.2em;
    color: #000;
    display: inline-block;
}

#cities li a.selected {
    color: #FFF;
    font-weight: bold;
    background-color: #0089ec;
}

#data {
    display: none;
}

#disclaimer {
    font-size: 0.8em;
    margin-top: 75px;
}

@media(max-width: 480px) {
    body {
        margin: 15px auto;
        width: 90%;
    }
    h1, h2 {
        font-size: 1.2em;
    }
    .header {
        background: none;
        height: auto;
    }
    #cities ul {
        display: none;
    }
    .city-select {
        display: block;
    }
}
