body {
    font: lighter 1em "Helvetica Neue";
}

.header {
    height: 207px;
    width: 100%;
    background: url("mainstream.png") center no-repeat;
}

#cities ul {
    padding: 0;
}

#cities li{
    display: inline-block;
    list-style: none;
}

#cities li a {
    padding-right: 0.5em;
    color: #000;
}

#concerts {
    padding-top: 1em;
}
