<template name="home">

  <header>
    <div class="header-content">
      <h1><a href="/">Konzerte | Mainstream</a></h1>
      {{> datepicker}}
      {{> cities}}
    </div>
  </header>

  <section id="content">
      <h2>Konzerte</h2>
      <div id="concerts">
        {{> concerts}}
      </div>
  </section>

  <footer>
    <div id="disclaimer">
      <p class="last-modified"></p>
      Alle Konzerte entstammen folgender Konzertliste: <a href="http://mainstream.radiox.ch/konzerte">http://mainstream.radiox.ch/konzerte</a>
    </div>
  </footer>

  <script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="lib/pickadate.js-3.5.3/lib/compressed/picker.js"></script>
  <script type="text/javascript" src="lib/pickadate.js-3.5.3/lib/compressed/picker.date.js"></script>
  <script type="text/javascript" src="lib/pickadate.js-3.5.3/lib/compressed/translations/de_DE.js"></script>
  <script type="text/javascript" src="main.js"></script>

</template>
